<!--<nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav>-->


<div id="footer">
    <div class="container-fluid">
        <div class="row">
                <div class="col-12">
                    <a href="https://www.facebook.com" class="facebook">
                        <img alt="facebook" src="images/facebook.png" width="50">
                    </a>
                    <a href="https://www.instagram.com" class="instagram">
                        <img alt="instagram" src="images/instagram.png" width="50">
                    </a>
                    <a href="https://www.twitter.com" class="twitter">
                        <img alt="twitter" src="images/twitter.png" width="50">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
                