@import
"bootstrap-variables",                  // See _bootstrap-variables.scss
"../_vendor/bootstrap/scss/bootstrap",  // See _vendor/bootstrap/scss/bootstrap.scss
"nav",
"gegevens",
"concentrate",
"bestelling",
"index",
"footer",
"bedanking",
"overons",
"faq",
"voorwaarden",
"contact";


@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

body {
    background-color: #f9f9f9;
    font-family: 'montserrat'
    }

h1 {
    font-family: montserrat;
    text-transform:uppercase;
    font-size: 20pt;
    text-align: center;
}

h2 { 
    text-transform:uppercase;
    font-family: montserrat;
}

.container { 
    margin-top: 50px;
}

.container-fluid { 
    padding: 0px;
}
.jumbotron-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
}

p {
    margin-bottom: 8%;
}

.zonderpadding { 
    margin-bottom: 0%;
}

@media (min-width: 992px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    body, p {
        font-size: 15px;
    }
    
    h1 { 
         font-size: 22px;
    }

    h2 {
        font-size: 17pt;
    }
}

@media (max-width: 991px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    body, p {
        font-size: 12px;
    }  

    h1 { 
         font-size: 18px;
    }

    h2 {
        font-size: 12pt; 
    }

    h1 {
        margin-bottom: 30px;
    }
}





